

.settings-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,25%);
    justify-content: center;
    border-radius: 8px;
}

@media screen and (min-width:867px) {
    .settings-list{
        grid-template-columns: 100%;
    }
}