.main-wrapper{
    display: flex;
    margin-left: 120px;
}

.settings{
    padding: 24px;
    flex-grow: 1;
}

.page-title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
}

.settings-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
}



@media screen and (min-width:867px){
    .settings-wrapper{
        grid-template-columns: minmax(275px,15%) 60%;
        gap: 24px;
    }
}


