.category-item{
    width: max-content;
}

.category-btn {
    padding-bottom: clamp(7px, 4px, 13px);
    font-family: inherit;
    font-size: 8px;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.category-btn.active1{
    color: var(--clr-danger-100);
    border-bottom:1px solid var(--clr-danger-100);
}

@media screen and (min-width:867px) {
    .category-btn {
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
    }
}