$colors:(
    danger:(
        100:#EA7C69,
        200:#FF7CA3,
        300:#ea7c6942,
    ),
    success:(
        100:#50D1AA,
        200:#6BE2BE3D,
    ),
    dark:(
        100:#1F1D2B,
        200:#252836,
        300:#393C49
    ),
    primary:(
      100:#65B0F6,  
    ),
    warning:(
        100:#FFB572,
        200:#FFB57233
    ),
    light:(
        100:#FFFFFF,
        200:#ABBBC2,
        300:#FAFAFA,
        400:#E0E6E9
    ),
    purplish:(
        100:#9290FE33,
        200:#9290FE
    ),

);
:root{
    @each $shade,$type in $colors{
        @each $prop,$color in $type{
            --clr-#{$shade}-#{$prop}:#{$color};
        }
    }
}
@each $shade,$type in $colors{
    @each $prop,$color in $type{
        .bg-#{$shade}-#{$prop}{
            background-color: #{$color};
        }
        .text-#{$shade}-#{$prop}{
            color: #{$color};
        }
    }
}

button{
    background-color: transparent;
    border: 1px solid transparent;
    font-family: inherit;
    cursor: pointer;
}

.rounded{
    border-radius: 50%;
}

.text-center{
    text-align: center;
}

.mt-0{
    margin-top: 0;
}

.margin-bottom-0{
    margin-bottom: 0;
}