@use "./variables";
/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
  url('../fonts/barlow-v12-latin-regular.woff') format('woff'); 
}
@font-face {
  font-family: 'Barlow';
  font-display: swap;
  font-weight: 500;
  src: url('../fonts/barlow-v12-latin-500.woff2') format('woff2'),  
  url('../fonts/barlow-v12-latin-500.woff') format('woff'); 
}
/* barlow-600 - latin */
@font-face {
  font-family: 'Barlow';
  font-display: swap;
  font-weight: 600;
  src: url('../fonts/barlow-v12-latin-600.woff2') format('woff2'),  
  url('../fonts/barlow-v12-latin-600.woff') format('woff'); 
}

a{
  display: inline-block;
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after{
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html{
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}

body{
  margin: 0;
  font-family: "Barlow", "Arial", sans-serif;
}

section{
  background-color: var(--clr-dark-200);
}

/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  max-width: 1920px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.mt-0{
  margin-top: 0;
}

.mb-0{
  margin-bottom: 0;
}